body{
    background-color: rgb(49, 49, 49);
}
a, span {
    font-size: 13px;
    color: #d4d4d4;
    text-decoration: none !important;
    line-height: 1.6;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
}
